$color-white: #fff;

//yellow
$color-yellow: #fcb72b;
$color-light-yellow: #fff4df;

//grey
$color-dark-grey: #495567;
$color-dim-grey: #939caa;
$color-light-grey: #e5ecf4;

//snow
$color-snow: #f2f5f9;