.footer-top {
  padding: 10.2rem 0;
  background-color: $color-dark-grey;
  background-image: url(../../images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;

  & .container {
    display: flex;
    align-items: center;
  }

  &__heading {
    max-width: 41.5rem;
    color: $color-white;
  }
}

.app-market {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 1.8rem;
  }
}

.footer-bottom{
  padding: 3.5rem 0;
  background-color: #333a44;
  & .container{
    display: flex;
    align-items: center;
  }
}