.header {
  padding: 2.2rem 0;
}

.header-logo {
  text-decoration: none;
  margin-right: 6rem;
  transition: all .3s ease;
  &:hover{
    opacity: .8;
  }
}

.header-inner {
  display: flex;
  align-items: center;
}